@charset "utf-8";
@import '~bulma/bulma.sass';

.card-image {
  width: 100px;
}

.card-content {
  flex-wrap: wrap;
  justify-content: center;
}

.infobox {
  margin: 1.5rem;
}

.project-title {
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
}

.markdown {
  h1,
  h2 {
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
  }

  h1 {
    @extend .title;
    @extend .is-4;
  }

  p {
    padding-bottom: 1.6rem;
  }

  table {
    @extend .table;
    @extend .is-hoverable;
  }
}
